* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

html {
  scroll-behavior: smooth;
}

.cabecalho1 {
  background-color: rgb(100, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  height: 40px;
}

.cabecalho2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cabecalho2 ul {
  background-color: white;
  display: flex;
  gap: 5rem;
}

.icone-menu {
  display: none;
}

.menu-responsivo {
  display: none;
}

.nav-item, .nav-link {
  list-style-type: none;
  gap: .8rem;
}

.nav-link, .link-telefone, .link-email {
  text-decoration: none;
  padding: 0;
  color: rgb(100, 32, 32);
  font-size: 14px;
  font-weight: 600;
}

a:hover {
  color: rgb(192, 90, 90);
}

.link-telefone, .link-email {
  color: white;
}

@keyframes texto-cascata {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: rotateY(0px);
    opacity: 1;
  }
}

.titulo {
  animation: texto-cascata 4s;
}

.texto-h2 {
  animation: texto-cascata 4s;
}

.texto-h3 {
  animation: texto-cascata 4s;
}


main {
  justify-items: center;
  text-align: center;
  background: url('/assets/img/casal-idosos.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.logo {
  width: 8rem;
}

.titulo {
  color: white;
  font-size: 4rem;
  font-weight: 200;
  font-weight: bold;
  margin-top: 30px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.div-h2 {
  margin: 0 8rem;
}

.texto-h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 30px;
}

.texto-h3 {
  font-size: 30px;
  color: white;
  margin-top: 30px;
}

.div-secoes {
  background-color: white;
  margin: 0 15rem;
}

.o-que-faremos {
  margin: 1rem;
}

.quem-somos, .servicos {
  margin-top: auto;
  color: black;
  padding: 8px;
}

.maressa-quem-somos {
  margin-top: auto;
  font-size: 3rem;
}

.quem-somos-itens {
  font-size: 1.5rem;
  line-height: 4rem;
}

.servicos {
  border-top: 1px solid rgb(100, 32, 32);
}

.div-aposentadoria-beneficios {
  display: flex;
  padding: 12px;
  justify-content: center;
}

.lista-aposentadoria, .lista-beneficios {
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-top: 2px;
}

.titulo-aposentadoria, .titulo-beneficios {
  margin-top: 3px;
  margin-bottom: 3px;
}

.aposentadoria, .beneficios {
  border: 1px solid rgb(100, 32, 32);
  width: 20rem;
  height: 28rem;
  padding: 20px;
}

.aposentadoria-li, .beneficios-li {
  padding: 5px;
  font-size: 18px;
  list-style-type: none;
}

.imagem-aposentadoria, .imagem-beneficios {
  width: 8.5rem;
}

.imagem-beneficios {
  padding-bottom: 8px;
}

.fa-arrow-down {
  font-size: 50px;
  color: rgb(100, 32, 32);
  margin-top: auto;
}

.container1, .container2, .container3 {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
}

.container2 {
  margin-top: 10px;
}

.titulo-consultoria-prev,
.titulo-planejamento-prev,
.titulo-revisao-benef,
.titulo-revisao-vida-toda,
.titulo-mandado-de-seg {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}

.texto-consultoria-previdenciaria,
.texto-planejamento-previdenciario,
.texto-revisao-beneficios,
.texto-revisao-vida-toda,
.texto-mandado-de-seguranca {
  font-size: 1.2rem;
  margin: 1rem;
}

.consultoria-previdenciaria {
  background: url('/assets/img/imagem-1.png');
  background-position: center center;
  background-size: cover;
  width: 40%;
  color: white;
  padding: 30px;
}

.planejamento-previdenciario {
  background: url('/assets/img/imagem-2.jpeg');
  background-position: center center;
  background-size: cover;
  color: white;
  width: 40%;
  padding: 30px;
}

.revisao-beneficios {
  background: url('/assets/img/imagem-3.jpeg');
  background-position: center center;
  background-size: cover;
  color: white;
  width: 40%;
  padding: 30px;
}

.revisao-vida-toda {
  background: url('/assets/img/imagem-4.jpeg');
  background-position: center center;
  background-size: cover;
  color: white;
  width: 40%;
  padding: 30px;
}

.mandado-de-seguranca {
  background: url('/assets/img/imagem-5.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 15px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 50.7rem;
  height: 20rem;
  padding: 30px;
}

.titulo-servicos {
  margin-bottom: 8px;
}

.subtexto-servicos {
  color: rgb(129, 118, 118);
  font-size: large;
}

.titulo-quem-somos,
.titulo-aposentadoria,
.titulo-beneficios,
.titulo-servicos {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(100, 32, 32);
}

.div-botao-ir-para-o-topo {
  align-items: right;
}

.botao-ir-para-o-topo {
  position: fixed;
  bottom: 0;
  right: 5px;
}

.fa-arrow-circle-up {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.o-que-faremos-texto {
  font-size: 2rem;
  margin-top: auto;
  color: rgb(100, 32, 32);
}

.container-botao,
.container-botao-consulta,
.container-botao-planejamento,
.container-botao-sobre-revisao,
.container-botao-revisao-vida-toda,
.container-botao-mandado-de-seguranca {
  justify-content: center;
  align-items: center;
}

.botao-wa {
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 40px;
  width: 20rem;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.botao-whatsapp {
  background: rgb(58, 214, 58);
  border-radius: 25px;
  height: 40px;
  width: 13rem;
  border: none;
  margin: 30px;
}

.texto-whatsapp {
  color: white;
  font-family: "Roboto", Sans-serif;
  font-weight: 800;
  font-size: 11px;
}

.icone-botao-wa {
  color: white;
}

.rodape {
  margin-top: auto;
  display: flex;
  height: 16rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 32, 32);
  color: white;
}

.container-rodape {
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.logo-rodape {
  width: 18rem;
}

.info-contato {
  font-weight: bold;
  font-size: 20px;
}

.container-endereco-contato-rodape {
  flex-direction: column;
  text-align: center;
}

.container-endereco-rodape, .whatsapp-rodape, .email-rodape {
  font-size: 1rem;
  padding: .5rem;
}

.div-desenvolvido-por {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(48, 27, 27);
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  margin-top: 16.5rem;
}

@media(max-width: 1190px) {
  .div-secoes {
    margin: 0 5rem;
  }

  .aposentadoria, .beneficios {
    width: 19rem;
    height: 28rem;
  }

  .mandado-de-seguranca {
    width: 38.5rem;
  }

  .consultoria-previdenciaria,
  .planejamento-previdenciario,
  .revisao-beneficios,
  .revisao-vida-toda {
    width: 17rem;
    height: 15rem;
  }

  .titulo-consultoria-prev,
  .titulo-planejamento-prev,
  .titulo-revisao-benef,
  .titulo-revisao-vida-toda,
  .titulo-mandado-de-seg {
    font-size: 1.3rem;
  }

  .texto-consultoria-previdenciaria,
  .texto-planejamento-previdenciario,
  .texto-revisao-beneficios,
  .texto-mandado-de-seguranca {
    font-size: 1rem;
  }

  .texto-revisao-vida-toda {
    font-size: .8rem;
  }

  .texto-revisao-beneficios {
    margin-bottom: 2.5rem;
  }

  .botao-wa {
    width: 16rem;
    border: none;
    cursor: pointer;
  }

  .logo-rodape {
    padding-top: .3rem;
    width: 13rem;
  }

  .info-contato {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .endereco {
    font-size: .8rem;
  }

  .fa-whatsapp, .fa-envelope {
    font-size: .8rem;
  }
}

@media(max-width:870px) {
  .div-secoes {
    margin: 0;
  }
}

@media(max-width: 745px) {
  .link-telefone, .link-email {
    font-size: 13px;
  }

  .div-logo {
    text-align: center;
  }

  .cabecalho2 {
    flex-direction: column;
  }

  .nav-item {
    display: none;
  }

  .nav-item-menu-responsivo {
    list-style-type: none;
  }

  .icone-menu {
    display: block;
    text-align: center;
  }

  .icone {
    width: 1.5rem;
  }

  .icone-menu button {
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    height: 1.5rem;
  }

  .menu-responsivo ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
  }

  .mobile-menu .nav-item {
    display: block;
  }

  .div-h2 {
    margin: 0 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .abrir {
    display: block;
  }

  .titulo, .titulo-quem-somos {
    font-size: 2rem;
  }

  .maressa-quem-somos,
  .titulo-servicos,
  .titulo-aposentadoria,
  .titulo-beneficios {
    font-size: 1.6rem;
  }

  .o-que-faremos-texto {
    font-size: 1.5rem;
  }

  .fa-arrow-down {
    font-size: 2rem;
  }

  .texto-h2, .fa-check {
    font-size: 1rem;
  }

  .texto-h3 {
    font-size: 18px;
  }

  .div-secoes {
    margin: 0;
  }

  .div-aposentadoria-beneficios {
    align-items: center;
  }

  .imagem-aposentadoria, .imagem-beneficios {
    width: 4rem;
  }

  .aposentadoria, .beneficios {
    width: 14rem;
  }

  .aposentadoria-li, .beneficios-li {
    font-size: 1.5rem;
  }

  .container1, .container2 {
    align-items: center;
  }

  .consultoria-previdenciaria,
  .planejamento-previdenciario,
  .revisao-beneficios,
  .revisao-vida-toda {
    width: 13rem;
    height: 14rem;
  }

  .mandado-de-seguranca {
    width: 30.5rem;
  }

  .titulo-consultoria-prev,
  .titulo-planejamento-prev,
  .titulo-revisao-benef,
  .titulo-revisao-vida-toda,
  .titulo-mandado-de-seg {
    font-size: 1.3rem;
  }

  .texto-consultoria-previdenciaria,
  .texto-planejamento-previdenciario,
  .texto-revisao-beneficios,
  .texto-mandado-de-seguranca {
    font-size: 1rem;
  }

  .texto-revisao-vida-toda {
    font-size: .8rem;
  }

  .texto-revisao-beneficios {
    margin-bottom: 4rem;
  }

  .botao-wa {
    width: 12.5rem;
    height: 2.8rem;
    border: none;
    cursor: pointer;
  }

  .rodape {
    height: 23rem;
  }

  .logo-rodape {
    padding-top: .5rem;
    width: 13rem;
  }

  .info-contato {
    margin: 1rem;
    font-size: 1rem;
  }

  .endereco {
    font-size: .8rem;
  }

  .fa-whatsapp, .fa-envelope {
    font-size: .8rem;
  }

  .container-rodape {
    width: 18rem;
    flex-direction: column;
  }

  .div-desenvolvido-por {
    margin-top: 25rem;
  }

  .fa-arrow-circle-up {
    font-size: 2rem;
  }
}

@media(max-width: 590px) {
  .link-telefone, .link-email {
    font-size: .7rem;
  }

  .nav-link {
    font-size: .9rem;
  }

  .logo {
    width: 6rem;
  }

  .div-secoes {
    margin: 0;
  }

  .div-aposentadoria-beneficios {
    align-items: center;
    flex-direction: column;
  }

  .aposentadoria {
    width: 17rem;
  }

  .beneficios {
    width: 17rem;
  }

  .container1, .container2 {
    flex-direction: column;
    align-items: center;
  }

  .mandado-de-seguranca,
  .consultoria-previdenciaria,
  .planejamento-previdenciario,
  .revisao-beneficios,
  .revisao-vida-toda {
    width: 16rem;
    height: 14rem;
  }

  .botao-wa {
    width: 16rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
  }

  .texto-whatsapp {
    font-size: 10px;
  }

  .rodape {
    height: 20rem;
  }

  .container-endereco-rodape, .whatsapp-rodape, .email-rodape {
    font-size: .7rem;
  }

  .div-desenvolvido-por {
    width: 100%;
    height: 2rem;
    margin-top: 20rem;
  }

  .texto-desenvolvido-por, .fa-instagram {
    font-size: .6rem;
  }

  .fa-instagram {
    margin-left: 1rem;
  }
}

@media (max-width: 360px) {
  .aposentadoria, .beneficios {
    width: 14rem;
  }

  .mandado-de-seguranca,
  .consultoria-previdenciaria,
  .planejamento-previdenciario,
  .revisao-beneficios,
  .revisao-vida-toda {
    width: 13rem;
  }

  .botao-wa {
    width: 13rem;
  }
}